*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

body {
  background-color: #f3f4f6;
}

h1 {
  margin: 16px 0px 16px 0px;
  font-size: 32px;
}

section > article {
  padding-bottom: 8px;
}

p {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px;
}

.app-container {
  padding: 32px 72px;
}

.cv-preview {
  background-color: white;
  padding: 0px 36px;
  min-height: 25cm;
}

form > section {
  background-color: white;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 0.5rem;
}

section > h3 {
  padding-left: 40px;
  font-weight: normal;
  font-style: italic;
  cursor: pointer;
}

label,
input,
textarea {
  padding: 4px;
  margin: 4px;
}

label {
  font-weight: bold;
}

input,
textarea {
  border-radius: 0.5rem;
}

textarea {
  resize: none;
}

.date-inputs {
  display: flex;
  gap: 16px;
}

.start-date-container,
.end-date-container,
.github-container,
.linkedin-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#resume-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.clear-load-btns {
  display: flex;
  gap: 8px;
}

#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.linkedin,
.mail,
.github,
.phone-number {
  display: flex;
  align-items: center;
  gap: 0px;
}

li {
  padding-left: 16px;
  list-style-position: inside;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a .underlined {
  text-decoration: none;
}

.name-container {
  text-align: center;
}

.contact-icon,
.download-icon {
  width: 16px;
  height: 16px;
}

.company-info,
.institution-general,
.institution-details,
.job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-duration,
.job-position,
.study-duration {
  font-style: italic;
}

.project-link {
  padding-left: 16px;
  letter-spacing: 1px;
}
.contact-icon {
  margin-right: 4px;
}

.education,
.employment,
.projects {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section-icon {
  height: 32px;
}

/*Buttons */
.hide-btn,
.show-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

button {
  width: 120px;
  border-radius: 0.6em;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}

.primary-btn {
  background-color: #167ac2;
  color: #fff;
}

.secondary-btn {
  background-color: #fff;
  color: #167ac2;
  border: 1px solid#89CFF0;
}

.download-btn {
  background: #e51d52;
  color: #fff;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.add-entry-container,
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
}

/* Field Type */

.optional-field,
.recommended-field {
  text-align: center;
  font-size: 12px;
  padding-left: 4px;
  font-weight: normal;
  font-style: italic;
  color: grey;
}

.required-field {
  color: red;
}

/* Print preview */
@page {
  margin: 20mm 10mm;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .cv-preview {
    order: 1;
  }

  .cv-maker-container {
    order: 2;
  }
}

@media (max-width: 640px) {
  .container {
    gap: 36px;
  }

  .app-container {
    padding: 16px;
  }

  .cv-preview {
    padding: 18px;
    min-height: 15cm;
  }

  #contact-container,
  #contact-container > * > *,
  a {
    font-size: 8px;
    gap: 0px;
  }

  .contact-icon {
    height: 8px;
  }

  p,
  li,
  span,
  label,
  input,
  textarea,
  button,
  span,
  .optional-field,
  .recommended-field {
    font-size: 10px;
  }

  a {
    display: block;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }

  form > section {
    padding: 16px 8px;
  }

  button {
    width: 80px;
    border-radius: 0.6em;
    padding: 2px 4px;
    border: none;
    cursor: pointer;
  }

  .contact-icon {
    margin: 0;
  }
}
